<h2>Добро пожаловать {{user.name}}, вот список ваших проектов!</h2>
<div>
  <button type="button" class="btn btn-warning" routerLink="/addToMyProject">Взяться за проект</button>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <td>Name</td>
      <td>Date</td>
      <td>Price</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of projects">
      <td>{{u?.name}}</td>
      <td>{{u?.date}}</td>
      <td>{{u?.price}}</td>
      <td>
        <button type="button" class="btn btn-success">Покинуть проект</button>
      </td>
    </tr>
  </tbody>
</table>
