<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>Список проектов</h2>
<div>
  <button type="button" class="btn btn-warning" routerLink="/createProject">Добавить проект</button>
</div>
<table>
  <thead>
    <tr>
      <td>Название</td>
      <td>Дедлайн</td>
      <td>Цена</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of projects">
      <td>{{u?.name}}</td>
      <td>{{u?.date}}</td>
      <td>{{u?.price}}</td>
      <td>
       
        <button [routerLink]="['curproj', u.projectId]" class="btn btn-outline-light">Изменить</button>
        <button (click)="delete(u.projectId)" class="btn btn-outline-light">Удалить</button>
      </td>
    </tr>
  </tbody>
</table>

