<div class="form">
  <h1>Регистрация</h1>
  <div class="input-form">
    <input type="text" [(ngModel)]="user.name" placeholder="Name" />
  </div>
  <div class="input-form">
    <input type="email" [(ngModel)]="user.email" placeholder="Email" />
  </div>
  <div class="input-form">
    <input type="password" [(ngModel)]="user.password" placeholder="Password" />
  </div>
  <div class="input-form">
    <input type="button" (click)="save()" value="Регистрация" />
  </div>
  <div>
    <a routerLink="/login">Есть аккаунт? Войдите!</a>
  </div>
</div>
