<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>Список сотрудников</h2>
<div>
  <button type="button" class="btn btn-warning" routerLink="/createUser">Добавить сотрудника</button>
</div>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Email</td>
      <td>Password</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of users">
      <td>{{u?.name}}</td>
      <td>{{u?.email}}</td>
      <td>{{u?.password}}</td>
      <td>
        <button [routerLink]="['edit', u.userId]" class="btn btn-outline-light">Информация</button>
        <button [routerLink]="['edit', u.userId]" class="btn btn-outline-light">Изменить</button>
        <button class="btn" (click)="delete(u.userId)"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>

